<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <form [formGroup]="inputField" (ngSubmit)="onSubmit()">
      <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 dark:text-white">Form Array</h2>
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index" class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
          <div class="flex items-center">
            <input 
              type="text" 
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
              [formControlName]="i" placeholder="Enter any text"> 
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="inputField.get('items').invalid && inputField.get('items').touched">You must enter something...</p>
          </div>
          <div *ngIf="i > 0"> 
            <button 
              type="button" 
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
              (click)="removeItem(i)">Remove</button>
          </div>
        </div>
      </div>
      <div class="flex items-center mb-4">
        <button 
          type="button" 
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
          (click)="addItem()" 
          [disabled]="isAddButtonDisabled()">Add</button>
      </div>
      <button 
        type="submit" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit
      </button>
    </form>
  </div>
</section>
